.app {
    font-family: sans-serif;
  }
  
  header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem;
    background-color: #fff;
    border-bottom: 1px solid #ccc;
  }
  .relnav{
    display: flex;
  }
  .relnav-li{
    margin-left: 20px;
    text-decoration: none;
    list-style-type: none;
  }